$global-font: 1rem;
$h1: 2.8rem;
$h2: 34px;
$h3: 1.5rem;
$h4: 1.2rem;
$h5: 20px;
$menu:2.5rem;
$a-link:19px;
$a-nav: 20px;
$process-font: 16px;
$process-text:20px;
$filter-text: 24px;
$filter-para: 20px;
$client-name: 21px;
$categories: 28px;
$footer-head:22px;
$small:14px;
$h1-sm:30px;
$h2-sm: 24px;
$h5-sm: 16px;
$h1-md:38px;
$card-body:18px;
$big-h1:64px;
// font-weights

$light: 300;
$regular: 400;
$medium: 600;
$bold: 700;